.search {
  padding: 70px 70px 47px;
}

.search__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 13px;
  outline: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: var(--color-main);
  background: url('../../../images/find.svg') no-repeat right 0px;
  /* z-index: 3; */
}

.search__input:focus {
  border-bottom: 1px solid var(--color-main);
}

::-webkit-input-placeholder {
  color: var(--color-additional);
}
::-moz-placeholder {
  color: var(--color-additional);
} /* Firefox 19+ */
:-moz-placeholder {
  color: var(--color-additional);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: var(--color-additional);
}

/* checkbox */
.search__label {
  cursor: pointer;
  padding-top: 31px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;

  --active-bg-color: #2be080;
  --inactive-bg-color: #ebebeb;
  --active-circle-color: #fff;
  --inactive-circle-color: #f5f5f5;

  --width: 36px;
  --height: 20px;
  --offset: 2px;

  --duration: .3s;
}

.search__checkbox-span {
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--inactive-bg-color);
  border-radius: 20px;
}
.search__checkbox-span::before {
  content: '';
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  width: 16px;
  height: 16px;
  background-color: var(--inactive-circle-color);
  border-radius: 50%;
  transition: var(--duration);
}

.search__checkbox-caption {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.search__checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search__checkbox-input:checked ~ .search__checkbox-span {
  background-color: var(--active-bg-color);
}

.search__checkbox-input:checked ~ .search__checkbox-span::before {
  background-color: var(--active-circle-color);
  left: calc(var(--width) - var(--height) + var(--offset));
  transition: var(--duration);
}
@media screen and (max-width: 768px) {
  .search {
    padding: 73px 30px 60px;
  }
  .search__label {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-top: 28px;
  }
  .search__checkbox-caption {
    gap: 16px;
  }
}
@media screen and (max-width: 620px) {
  .search__label {
    justify-content: center;
    padding-top: 40px;
    gap: 13px;
  }
  .search__checkbox-caption {
    font-size: 11px;

  }
}