.header {
  display: flex;
  align-items: center;
  padding: 18px 70px;
}
.header__logo {
  cursor: pointer;
  width: 38px;
  height: 38px;
  background: url(../../images/logo.svg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 18px 30px;
  }
}
