.header {
  display: flex;
  gap: 43px;
  align-items: center;
  padding: 18px 70px;
}
.header__logo {
  cursor: pointer;
  min-width: 38px;
  min-height: 38px;
  background: url(../../images/logo.svg) no-repeat center;
  background-size: 38px 38px;
}
@media (pointer: fine) {
  .header__logo:hover {
    opacity: .8;
  }
}
@media screen and (min-width: 520px) and (max-width: 820px) {
  .header {
    padding: 18px 30px;
  }
}
