.footer {
  padding: 66px 70px 20px;
}
.footer__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--color-additional);
  border-bottom: 1px solid var(--bg-nav-link);
}
.footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.footer__links-element {
}
.footer__link {
  text-decoration: none;
  color: var(--color-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media (pointer: fine) {
  .footer__link:hover {
    opacity: 0.7;
  }
}
